body{
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    justify-content: center;
}

#header {
    background-color: orange;
    text-align: center;
    font-size: 50px;
}
