.match-tipping {
    width: 100%;
    margin: 20px 0;
}

.percentage-bar {
    display: flex;
    height: 30px;
    border: 1px solid black;
}

.percentage {
    width: 400px;
    height: 30px;
    background:blue;
    border: 1px dashed black;
    border-radius: 15px;
    position: relative;
}

.section {
    transition: width 0.3s;
}

#blueSection {
    background-color: blue;
}

#drawSection {
    background-color: white;
}

#greySection {
    background-color: grey;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    .btn {
        padding: 10px;
        margin: 5px;
        cursor: pointer;
    }