.match-tipping {
    display: flex;
    width: 100%;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.percentage-bar-container {
    width: 500px;
    margin-bottom: 10px;    
}

.percentage-bar {
    display: flex;
    height: 30px;
    border: 1px solid black;
    border-radius: 50px;
}

.section {
    transition: width 0.3s;
}

#blueSection {
    background-color: blue;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#purpleSection {
    background-color: purple;
}

#redSection {
    background-color: red;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.singleSection {
    border-radius: 15px;
}

.leftRounded {
    border-radius: 15px 0 0 15px;
}

.rightRounded {
    border-radius: 0 15px 15px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.btn {
    width: 100px;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}